<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">role</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      {% for entry in site.data.missions.role %}
      
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>{{ entry.label }}</b>
        </p>
        <p class="ui"> 
          <ul>
            <li>海外版</li>
          </ul> 
          <ul>
            <li>日本版</li>
          </ul>  
        </p>
      </div>
    
      {% endfor %}
    </div>
    
  </div>
</div>
