<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">species</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>イヌ🐶</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/dog/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/dog/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>ネコ😸</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/cat/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/cat/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>ウサギ🐰</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/rabbit/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/rabbit/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>海に住む🌊</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/lives-in-the-sea/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/species/lives-in-the-sea/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
