<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom"><a href="{{ site.baseurl }}/missions/series/">series</a></h3>
  </div>

  <div class="fourteen wide column no-bottom">

  {% for entry in site.data.missions.series %}
    
    <div class="ui grid">
      
      {% for item in entry.items %}
      
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <a href="{{ site.baseurl }}/missions/series/{{ item.url }}"><b>{{ item.linkLabel }}</b></a>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="{{ site.baseurl }}/missions/series/{{ item.url }}/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="{{ site.baseurl }}/missions/series/{{ item.url }}/japan">日本版</a></li>
          </ul>  
        </p>
      </div>
    
      {% endfor %}
    </div>
    
  {% endfor %}
  </div>
</div>
