<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">facial features</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>まゆ毛</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eyebrows/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eyebrows/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>まつ毛</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eyelashes/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eyelashes/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>白目</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eye-whites/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/eye-whites/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>鼻がピンク</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/pink-nose/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/pink-nose/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>鼻が黒い</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/black-nose/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/black-nose/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>鼻が三角</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/triangle-nose/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/triangle-nose/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>くちばし</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/beak/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/beak/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>口が見える</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/visible-mouth/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/visible-mouth/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>ヒゲ</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/facial-hair/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/facial-hair/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>ほっぺが赤い</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/rosy-cheeks/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/rosy-cheeks/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
