<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">facial features</h3>
  </div>

  <div class="fourteen wide column no-bottom">

  {% for entry in site.data.missions.facialFeatures %}
    
    <div class="ui grid">
      
      {% for item in entry.items %}
      
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>{{ item.linkLabel }}</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/{{ item.url }}/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/facial-features/{{ item.url }}/japan">日本版</a></li>
          </ul>  
        </p>
      </div>
    
      {% endfor %}
    </div>
    
  {% endfor %}
  </div>
</div>
