<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">gender</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>友達を呼ぶ</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/call-a-friend/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/call-a-friend/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>恋人を呼ぶ</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/call-a-sweetheart/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/call-a-sweetheart/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>大きなツムを出す</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/big-tsum/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/big-tsum/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>ボムを出す</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/bubble-making/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/bubble-making/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>ハートが出る♡</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/heart-making/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/skill-type/heart-making/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
