<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">role</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>prince</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/prince/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/prince/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>princess</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/princess/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/princess/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>villain</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/villain/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/role/villain/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
