<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">hand color</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      {% for entry in site.data.missions.handColor %}
      
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b style={{ entry.style }}>{{ entry.linkLabel }}</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/{{ entry.url }}/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/{{ entry.url }}/japan">日本版</a></li>
          </ul>  
        </p>
      </div>
    
      {% endfor %}
    </div>
    
  </div>
</div>
