<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">hand color</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b style="color:black">黒い手</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/black/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/black/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b style="background-color:white">白い手</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/white/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/white/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b style="background-color:yellow">黄色い手</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/yellow/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/hand-color/yellow/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
