<!-- Used by theme-missions-builtin-1 -->

<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">initial</h3>
  </div>

  <div class="fourteen wide column no-bottom">

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>A</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/A/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/A/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>B</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/B/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/B/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>D</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/D/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/D/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>J</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/J/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/J/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>M</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/M/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/M/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>N</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/N/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/N/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>P</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/P/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/P/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>S</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/S/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/S/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
      <div class="two wide column no-bottom">
        <p class="ui no-bottom">
          <b>T</b>
        </p>
        <p class="ui"> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/T/international">海外版</a></li>
          </ul> 
          <ul>
            <li><a href="https://tsumjoy.github.io/missions/initial/T/japan">日本版</a></li>
          </ul> 
        </p>
      </div>
    </div>
    
  </div>
</div>
