{% case {{include.color}} %}
  {% when "red" %}
    {% capture colorRoster %} rosters.color-{{include.color}}.tsum {% endcapture %}
{% endcase %}
<p> {{ colorRoster }} </p>

<div class="ui centered five cards">
    {% for entry in site.data["colorRoster"] %}
        <p> {{ colorRoster }} </p>
       {% for page in site.pages %}
         {% if page.ID == entry %}
           {% unless page.draft %}
             {% include tsum-card.html page=page %}
           {% endunless %}
          {% endif %}
       {% endfor %}
    {% endfor %}
</div>
