<div class="ui top attached tabular menu">
  {% if {{ include.placement }} == "first" %}
    <a class="active item" data-tab={{ include.placement }}"/a">{{ site.data.bio.tabLabels.all }}</a>
  {% else %}
    <a class="item" data-tab={{ include.placement }}"/a">{{ site.data.bio.tabLabels.all }}</a>
  {% endif %}
  <a class="item" data-tab={{ include.placement }}"/b">{{ site.data.bio.tabLabels.international }}</a>
  <a class="item" data-tab={{ include.placement }}"/c">{{ site.data.bio.tabLabels.japan }}</a>
</div>
