{% assign menuSize = 5 %}
  <p>"Menu size is {{ menuSize }}"</p>
{% assign thisColor = "red" %}

{% assign colorNumber = 0 %}
{% assign thisFile = "tab-color-red-international-1.html" %}

<!--
{% capture colorBaseTab %}
  tab-color-{{ thisColor }}-1.html
{% endcapture %}

{% capture colorInternationalTab %}
  tab-color-{{ thisColor }}-international-1.html
{% endcapture %}

{% capture colorJapanTab %}
  tab-color-{{thisColor}}-japan-1.html
{% endcapture %}
-->

<div style="padding-top: 20px" class="ui container ">
  
  
  <div class="ui pointing secondary menu">
    <a class="active item" data-tab="first">{{ site.data.colors.colorInformation[0].linkLabel }}</a>
    <a class="item" data-tab={{site.data.placements[1]}}>{{ site.data.colors.colorInformation[1].linkLabel }}</a>
    {% for i in (2..menuSize) %}
      <p> placement {{ site.data.placements[i] }} </p>
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ site.data.colors.colorInformation[i].linkLabel }}</a>
    {% endfor %}
  </div>
  
  {% assign placement = "first" %}
  <div class="ui active tab segment babypink" data-tab="{{ placement }}">
  
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="{{ placement }}/a">{{ site.data.bio.tabLabels.all }}</a>
      <a class="item" data-tab="{{ placement }}/b">{{ site.data.bio.tabLabels.international }}</a>
      <a class="item" data-tab="{{ placement }}/c">{{ site.data.bio.tabLabels.japan }}</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="{{ placement }}/a">
      {% include tab-color.html color="red" %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      {% include {{thisFile}} %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      <!-- {{ site.data.colors.colorTabs.japan[0] }} -->
    </div>
  
  </div>
  
  
  {% assign missionCategory = "color" %}
  {% assign total_japan = site.data.rosters.japan-collection.tsumID.size %}
  {% assign total_international = site.data.rosters.international-collection.tsumID.size %}
  
  {% assign rosters = rosters_hash[1] %}
  {% assign items = site.data.colors.colorInformation %}
  {% assign placeIncrement = 0 %}
  {% assign placeName = "{{ site.data.placements["{{ placeIncrement }}"] }}" %}


{% assign placeName = "second" %}
          <div class="ui tab segment babypink" data-tab="{{ placeName }}">

            <div class="ui top attached tabular menu">
              <a class="item" data-tab="{{ placeName }}/a">{{ site.data.bio.tabLabels.all }}</a>
              <a class="item" data-tab="{{ placeName }}/b">{{ site.data.bio.tabLabels.international }}</a>
              <a class="item" data-tab="{{ placeName }}/c">{{ site.data.bio.tabLabels.japan }}</a>
            </div>



            <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/a">
              <div class="ui centered five cards">
                
              </div>
            </div>

            <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/b">
              <div class="ui centered five cards">

              </div>
            </div>

            <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/c">
              <div class="ui centered five cards">

              </div>
            </div>

          </div>


  
  
</div>

<script>
  $('.menu .item').tab();
</script>
