{% assign menuSize = 0 %}
{% for entry in = site.data.colors.colorInformation %}
  <p>here</p>
  {{ {{ menuSize }} | plus: 1 }}
{% endfor %}
  <p>"Menu size is {{ menuSize }}"</p>

<div style="padding-top: 20px" class="ui container ">
  
  
  <div class="ui pointing secondary menu">
    <a class="active item" data-tab="{{ site.data.placements[0] }}">{{ site.data.colors.colorInformation[0].linkLabel }}</a>
    {% for i in (1..menuSize) %}
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ site.data.colors.colorInformation[i].linkLabel }}</a>
    {% endfor %}
  </div>
  
  {% assign placement = "{{ site.data.placements[0] }}" %}
  <div class="ui active tab segment babypink" data-tab="{{ placement }}">
  
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="{{ placement }}/a">{{ site.data.bio.tabLabels.all }}</a>
      <a class="item" data-tab="{{ placement }}/b">{{ site.data.bio.tabLabels.international }}</a>
      <a class="item" data-tab="{{ placement }}/c">{{ site.data.bio.tabLabels.japan }}</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="{{ placement }}/a">
      hello {{ site.data.colors.colorTabs.base[0] }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      "{{ site.data.colors.colorTabs.international[0] }}"
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      "{{ site.data.colors.colorTabs.japan[0] }}"
    </div>
  
  </div>
  
  {% for i in (1..menuSize) %}
  {% assign placement = "{{ site.data.placements[i] }}" %}
  <div class="ui tab segment babypink" data-tab="{{ placement }}">
  
    {% include tab-regionsnotfirst-1.html placement="{{ placement }}" %}
    
    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/a">
      "{{ site.data.colors.colorTabs.base[i] }}"
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      "{{ site.data.colors.colorTabs.international[i] }}"
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      "{{ site.data.colors.colorTabs.japan[i] }}"
    </div>
  
  </div>
  {% endfor %}
  
</div>

<script>
  $('.menu .item').tab();
</script>
