<div style="padding-top: 20px" class="ui container ">
  
  <div class="ui pointing secondary menu">
    <a class="active item" data-tab="first">{{ site.data.missions.gender[0].linkLabel }}</a>
    <a class="item" data-tab="second">{{ site.data.missions.gender[1].linkLabel }}</a>
  </div>
  
  {% assign placement = "first" %}
  <div class="ui active tab segment babypink" data-tab="{{ placement }}">
  
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="{{ placement }}/a">{{ site.data.bio.tabLabels.all }}</a>
      <a class="item" data-tab="{{ placement }}/b">{{ site.data.bio.tabLabels.international }}</a>
      <a class="item" data-tab="{{ placement }}/c">{{ site.data.bio.tabLabels.japan }}</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="{{ placement }}/a">
      {% include tab-gender-boy-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      {% include tab-gender-boy-international-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      {% include tab-gender-boy-japan-1.html %}
    </div>
  
  </div>
  
  {% assign placement = "second" %}
  <div class="ui tab segment babypink" data-tab="second">
  
    {% include tab-regionsnotfirst-1.html placement="second" %}
    
    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/a">
      {% include tab-gender-girl-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      {% include tab-gender-girl-international-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      {% include tab-gender-girl-japan-1.html %}
    </div>
  
  </div>
  
</div>

<script>
  $('.menu .item').tab();
</script>
