{% assign missionCategory = "series" %}
{% assign items = site.data.series.seriesInformation %}
{% assign menuBreakPoint1 = 8 %}
{% assign menuBreakPoint2 = 16 %}

{% assign menuSize = items.size %}
{% assign total_japan = site.data.rosters.japan-collection.tsumID.size %}
{% assign total_international = site.data.rosters.international-collection.tsumID.size %}
{% assign rosters = rosters_hash[1] %}


<div style="padding-top: 20px" class="ui container ">
  
  <div class="ui stackable pointing secondary menu">
    <a class="active item" data-tab="{{ site.data.placements[0] }}">{{ items[0].linkLabel }}</a>
    {% for i in (1..menuBreakPoint1) %}
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ items[i].linkLabel }}</a>
    {% endfor %}
  </div>
  
  {% assign menuContinuePoint1to2 = menuBreakPoint1 | plus: 1 %}
  <div class="ui stackable pointing secondary menu">
    {% for i in (menuContinuePoint1to2..menuBreakPoint2) %}
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ items[i].linkLabel }}</a>
    {% endfor %}
  </div>
  
  {% assign menuContinuePoint2toEnd = menuBreakPoint2 | plus: 1 %}
  <div class="ui stackable pointing secondary menu">
    {% for i in (menuContinuePoint2toEnd..menuSize) %}
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ items[i].linkLabel }}</a>
    {% endfor %}
  </div>

  
  {% assign first = true %}
  {% for item in items offset:0 %}
    {% assign jsonItem = item.url | remove: "-" %}
    {% assign placeName = site.data.placements[forloop.index0] %}
    {% for rosters_hash in site.data.rosters %}
      {% assign category = rosters_hash[1].tag %}

      {% if category contains missionCategory %}
        {% assign simpleCategory = category | remove: "." | remove: "," | remove: "'" | remove: " " | replace: "&","and" | downcase %}
        {% if simpleCategory contains jsonItem %}

          {% if first %}
            <div class="ui active tab segment babypink" data-tab="{{ placeName }}">
          {% else %}
            <div class="ui tab segment babypink" data-tab="{{ placeName }}">
          {% endif %}

            <div class="ui top attached tabular menu">
              {% if first %}
                <a class="active item" data-tab="{{ placeName }}/a">{{ site.data.bio.tabLabels.all }}</a>
              {% else %}
                <a class="item" data-tab="{{ placeName }}/a">{{ site.data.bio.tabLabels.all }}</a>
              {% endif %}
              <a class="item" data-tab="{{ placeName }}/b">{{ site.data.bio.tabLabels.international }}</a>
              <a class="item" data-tab="{{ placeName }}/c">{{ site.data.bio.tabLabels.japan }}</a>
            </div>

           
            {% if first %}
              <div class="ui bottom attached active tab segment" data-tab="{{ placeName }}/a">
            {% else %}
              <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/a">
            {% endif %}
              <div class="ui centered five cards">
               {% for entry in rosters_hash[1].tsum %}
                  {% for page in site.pages %}
                   {% if page.ID == entry %}
                     {% unless page.draft %}
                       {% include tsum-card.html page=page %}
                     {% endunless %}
                    {% endif %}
                 {% endfor %}
               {% endfor %} 
              </div>
            </div>
            {% assign first = false %}

            <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/b">
              <div class="ui centered five cards">
               {% for entry in rosters_hash[1].tsum %}
                  {% for i in (0..total_international) %}
                    {% if site.data.rosters.international-collection.tsumID[i] == entry %}
                     {% for page in site.pages %}
                       {% if page.ID == entry %}
                         {% unless page.draft %}
                           {% include tsum-card.html page=page %}
                         {% endunless %}
                       {% endif %}
                     {% endfor %}
                    {% endif %}
                  {% endfor %}
               {% endfor %} 
              </div>
            </div>
            
            <div class="ui bottom attached tab segment" data-tab="{{ placeName }}/c">
              <div class="ui centered five cards">
               {% for entry in rosters_hash[1].tsum %}
                  {% for i in (0..total_japan) %}
                    {% if site.data.rosters.japan-collection.tsumID[i] == entry %}
                     {% for page in site.pages %}
                       {% if page.ID == entry %}
                         {% unless page.draft %}
                           {% include tsum-card.html page=page %}
                         {% endunless %}
                       {% endif %}
                     {% endfor %}
                    {% endif %}
                  {% endfor %}
               {% endfor %} 
              </div>
            </div>

          </div>
        {% endif %}
      {% endif %}

    {% endfor %}
  {% endfor %}

  
  
</div>

<script>
  $(document).ready(function(){
    $('.ui .item').on('click', function() {
        $('.ui .item').removeClass('active');
        $('.ui .item .topnavbar').addClass('active');
        $(this).addClass('active');
        $('.ui .item').tab();
    });             
  });
</script>
