<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered five cards">
      {% for entry in site.data.series-mickeyandfriends.tsum %}
          {% assign filtered_international = site.data.international-collection | find: "tsumID", entry %}
            {% if filtered_international != nil %}
              {% for page in site.pages %}
                {% if page.ID == filtered_international %}
                  {% unless page.draft %}
                    {% include tsum-card.html page=page %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
             {% endif %}
        {% endfor %}
  </div>
</div>
