<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered five cards">
    {% assign mickeyandfriends_international = site.data.series-mickeyandfriends.tsum | where: entry.international | sort: entry.ID %}
        {% for entry in mickeyandfriends_international %}
          {% for page in site.pages %}
            {% if page.ID == entry.ID %}
              {% unless page.draft %}
                {% include tsum-card.html page=page %}
              {% endunless %}
             {% endif %}
          {% endfor %}
        {% endfor %}
  </div>
</div>
