<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered five cards">
      {% for entry in site.data.series-mickeyandfriends.tsum %}
          {% assign filtered_japan = site.data.japan-collection.tsumID | find: entry %}
            {% if filtered_japan != nil %}
              {% for page in site.pages %}
                {% if page.ID == entry %}
                  {% unless page.draft %}
                    {% include tsum-card.html page=page %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
             {% endif %}
        {% endfor %}
  </div>
</div>
