<div style="margin-top: 10px; " class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">missions</h2>
  </div>

  <div class="eight wide left aligned column">
    <p>
      <b>海外版コイン稼ぎ手</b>
        <ul>
          <li><a href="https://tsumjoy.github.io/tsumtsum/gadget-hackwrench">ガジェット (skill level 3/3)</a></li>
          <li><a href="https://tsumjoy.github.io/tsumtsum/queen-elsa">雪の女王エルサ (skill level 4/6)</a></li>
        </ul> 
    </p>
  </div>

  <div class="eight wide right aligned column">
    <p>
      <b>日本語版コイン稼ぎ手</b>
        <ul>
          <li><a href="https://tsumjoy.github.io/tsumtsum/gadget-hackwrench">ガジェット (skill level 3/3)</a></li>
          <li><a href="https://tsumjoy.github.io/tsumtsum/queen-elsa">雪の女王エルサ (skill level 4/6)</a></li>
        </ul> 
    </p>
  </div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  {% include missions-gender-1.html %}
  {% include missions-species-1.html %}
  {% include missions-role-1.html %}
  {% include missions-initial-1.html %}
  {% include missions-color-1.html %}
  {% include missions-hand-color-1.html %}
  {% include missions-facial-features-1.html %}
  {% include missions-head-body-features-1.html %}
  {% include missions-skill-type-1.html %}
  {% include missions-series-1.html %}
</div>

</div>


