<div style="padding-top: 20px" class="ui container ">
  
  <div class="ui pointing secondary menu">
    <a class="active item" data-tab="first">{{ site.data.rosters.gender-boy.tabLabel }}</a>
    <a class="item" data-tab="second">{{ site.data.rosters.gender-girl.tabLabel }}</a>
  </div>
  
  <div class="ui active tab segment babypink" data-tab="first">
  
    {% include tab-regions-1.html %}

    <div class="ui bottom attached active tab segment" data-tab="first/a">
      {% include tab-gender-boy-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="first/b">
      {% include tab-gender-boy-international-1.html %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="first/c">
      {% include tab-gender-boy-japan-1.html %}
    </div>
  
  </div>
  
</div>

<script>
    $('.menu .item').tab();
</script>
