<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered four cards">
    {% assign mission_series_mickeyandfriends_pages = site.pages | where: "labels", "series: &lsqb; Mickey & Friends &rsqb;" | sort: "permalink" %}
    {% assign mickeyandfriends_japan_pages = mission_series_mickeyandfriends_pages | where: "international", "true" | sort: "permalink" %}
    {% for page in mickeyandfriends_japan_pages %}
      {% unless page.draft %}
        {% include tsum-card.html page=page %}
      {% endunless %}
    {% endfor %}
  </div>
</div>
