{% assign menuSize = 5 %}
  <p>"Menu size is {{ menuSize }}"</p>
{% assign thisColor = "red" %}

{% assign colorNumber = 0 %}
{% assign thisFile = "tab-color-red-international-1.html" %}

<!--
{% capture colorBaseTab %}
  tab-color-{{ thisColor }}-1.html
{% endcapture %}

{% capture colorInternationalTab %}
  tab-color-{{ thisColor }}-international-1.html
{% endcapture %}

{% capture colorJapanTab %}
  tab-color-{{thisColor}}-japan-1.html
{% endcapture %}
-->

<div style="padding-top: 20px" class="ui container ">
  
  
  <div class="ui pointing secondary menu">
    <a class="active item" data-tab="{{ site.data.placements[0] }}">{{ site.data.colors.colorInformation[0].linkLabel }}</a>
    {% for i in (1..menuSize) %}
      <a class="item" data-tab="{{ site.data.placements[i] }}">{{ site.data.colors.colorInformation[i].linkLabel }}</a>
    {% endfor %}
  </div>
  
  {% assign placement = "{{ site.data.placements[0] }}" %}
  <div class="ui active tab segment babypink" data-tab="{{ placement }}">
  
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="{{ placement }}/a">{{ site.data.bio.tabLabels.all }}</a>
      <a class="item" data-tab="{{ placement }}/b">{{ site.data.bio.tabLabels.international }}</a>
      <a class="item" data-tab="{{ placement }}/c">{{ site.data.bio.tabLabels.japan }}</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="{{ placement }}/a">
      {% include tab-color.html color="red" %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/b">
      {% include {{thisFile}} %}
    </div>

    <div class="ui bottom attached tab segment" data-tab="{{ placement }}/c">
      <!-- {{ site.data.colors.colorTabs.japan[0] }} -->
    </div>
  
  </div>
  
  </div>
  
  {% assign missionCategory = "color" %}
  {% assign total_japan = site.data.rosters.japan-collection.tsumID.size %}
  {% assign total_international = site.data.rosters.international-collection.tsumID.size %}
  
  {% assign rosters = rosters_hash[1] %}
  {% assign placeIncrement = 0 %}
  {% assign placeName = site.data.placements[placeIncrement] %}

  {% for rosters_hash in site.data.rosters %}
    {% assign category = {{ rosters_hash[1].tag | split: ": " }} %}
    {% assign rosterGroup = {{ rosters_hash[1].tag | split: ": " | second }} %}

    <p> category is {{ category }}, missionCategory is {{ missionCategory }}, rosterGroup is {{ rosterGroup }} </p>

    {% if category == missionCategory %}
    {% if rosterGroup != "red" %}
      <div class="ui tab segment babypink" data-tab=placeName>
      {% include tab-regionsnotfirst-1.html placement=placeName %}
      {{ placeIncrement | plus: 1 }}
        <p> placeName is {{ site.data.placements[placeIncrement] }} with {{ placeIncrement }} </p>
      
    <div class="ui bottom attached tab segment" data-tab="placeName/a">
    <div class="ui centered five cards">
     {% for entry in rosters_hash[1].tsum %}
        
        {% for page in site.pages %}
         {% if page.ID == entry %}
           {% unless page.draft %}
             {% include tsum-card.html page=page %}
           {% endunless %}
          {% endif %}
       {% endfor %}
      
     {% endfor %} 
    </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="placeName/b">
    <div class="ui centered five cards">
     {% for entry in rosters_hash[1].tsum %}
        
        {% for i in (0..total_japan) %}
          {% if site.data.rosters.international-collection.tsumID[i] == entry %}
           {% for page in site.pages %}
             {% if page.ID == entry %}
               {% unless page.draft %}
                 {% include tsum-card.html page=page %}
               {% endunless %}
             {% endif %}
           {% endfor %}
          {% endif %}
        {% endfor %}
      
     {% endfor %} 
    </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="placeName/c">
    <div class="ui centered five cards">
     {% for entry in rosters_hash[1].tsum %}
        
        {% for i in (0..total_japan) %}
          {% if site.data.rosters.japan-collection.tsumID[i] == entry %}
           {% for page in site.pages %}
             {% if page.ID == entry %}
               {% unless page.draft %}
                 {% include tsum-card.html page=page %}
               {% endunless %}
             {% endif %}
           {% endfor %}
          {% endif %}
        {% endfor %}
      
     {% endfor %} 
    </div>
    </div>
    
      </div>
    {% endif %}
    {% endif %}

  {% endfor %}

  
  
</div>

<script>
  $('.menu .item').tab();
</script>
