---
layout: tsumtsum
---

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
 <h1>{{ page.title }}</h1>
 <img class="ui image" src="../{{ page.image }}">
 <br>
 {% assign firstRun = true %}
 {% for rosters_hash in site.data.rosters %}
   {% for entry in rosters_hash[1].tsum %}
      {% if page.ID == entry %}
        {% if firstRun %}
          {% assign newTag = rosters_hash[1].tag | replace: " ","W" | replace: ":","C" | replace: "/","Z" | replace: "[","L" | replace: "]","R" | replace: "&","E" | replace: "-","H" | replace: "'","Q" | replace: ",","O" | replace: ".","R" %}
          {% assign tagList = newTag %}
          {% assign firstRun = false %}
        {% else %}
          {% assign newTag = rosters_hash[1].tag | replace: " ","W" | replace: ":","C" | replace: "/","Z" | replace: "[","L" | replace: "]","R" | replace: "&","E" | replace: "-","H" | replace: "'","Q" | replace: ",","O" | replace: ".","R" %}
          {% assign tagList = tagList | append: ", " | append: newTag %}
        {% endif %}
      {% endif %}
   {% endfor %}
 {% endfor %}
 
 {{ tagList }}
 {% assign tagList = tagList | split: ", " %}
 {{ tagList }}
{% assign tagList = tagList | sort %}
 
 {% for item in tagList %}
   <p>- <a>{% item | replace: "W"," " | replace: "C",":" | replace: "Z","/" | replace: "L","[" | replace: "R","]" | replace: "E","&" | replace: "H","-" | replace: "Q","'" | replace: ",","O" | replace: ".","R" %}</a> </p>
 {% endfor %}
 
 {{ content }}
</div>

