---
layout: tsumtsum
---

{% assign firstRun = 1 %}

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
 <h1>{{ page.title }}</h1>
 <img class="ui image" src="../{{ page.image }}">
 <br>
 {% for rosters_hash in site.data.rosters %}
   {% for entry in rosters_hash[1].tsum %}
      {% if page.ID == entry %}
        {% if firstRun %}
          {% assign tagList = rosters_hash[1].tag %}
          {% assign firstRun = 0 %}
        {% else %}
          {% assign tagList = tagList | concat: rosters_hash[1].tag %}
        {% endif %}
      {% endif %}
   {% endfor %}
 {% endfor %}
 
 {%comment%}{% assign tagList = tagList | sort %}{%endcomment%}
 {% for item in tagList %}
   <p>- <a>{{ item }}</a> </p>
 {% endfor %}
 
 {{ content }}
</div>
