---
layout: tsumtsum
---

{% assign firstRun = true %}

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
 <h1>{{ page.title }}</h1>
 <img class="ui image" src="../{{ page.image }}">
 <br>
 {% for rosters_hash in site.data.rosters %}
   {% for entry in rosters_hash[1].tsum %}
      {% if page.ID == entry %}
        {% if firstRun %}
          {% assign tagList = rosters_hash[1].tag | replace: " ","W" | replace: ":","C" | replace: "/","S" %}
          {% assign firstRun = false %}
        {% else %}
          {% assign newTag = rosters_hash[1].tag | replace: " ","W" | replace: ":","C" | replace: "/","S" %}
          {% assign tagList = tagList | concat: newTag %}
        {% endif %}
      {% endif %}
   {% endfor %}
 {% endfor %}
 
 {% assign tagList = tagList | sort %}
 {% assign tagList = tagList | replace: "W"," " | replace: "C",":" | replace: "S","/" %}
 {% for item in tagList %}
   <p>- <a>{{ item }}</a> </p>
 {% endfor %}
 
 {{ content }}
</div>
